
*{
    margin: 0;
    padding: 0;
}.header_container {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  /* padding: 6px 15px;
  gap: 15px; */
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.logo_container img {
  width: 80px;
  padding-top: 5px;
  margin-left: 20px;
  vertical-align: middle;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

.delivery p {
  font-size: 12px;
  color: #ccc;
  margin: 0;
}

.delivery span {
  font-size: 15px;
  /* padding-left: 10px; */
}
.search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;

}
.search select, .search input{
    padding: 10px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select {
  border: none;
}

.search input {
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}

.search svg {
  background-color: #febd69;
  padding: 7px;
  color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid rgb(235, 161, 173);
}
.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 450px;
}

.order_container a {
  text-decoration: none;
  color: white;
}

.order_container p {
  font-size: 12px;
}

/* .order_container a div span {
  font-size: 14px;
  font-weight: 700;
} */

.language {
  width: 100px;
  display: flex;
  padding: 10px;
}

.language img {
  width: 40%;
}

.language select {
  background-color: #1a1a1a;
  color: white;
  border: none;

}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  font-weight: bold;
  top: -6px;
  font-size: 20px;
  background-color: #1a1a1a;
  left: 14px;
  color: orange;
}
.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
}
