.category{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
.category img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}
.category a{
    text-decoration: none;
    color: rgb(35, 35,35);
}
.category h2,
.category p{
    padding: 5px;
    margin-left: 15px;
}
.category p{
    font-size: 15px;
    font-weight: bold;
    color: rgb(9, 135, 209);
}
.category_container{
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
@media (max-width: 1580px) {
    .category_container {
        grid-template-columns: repeat(4, 1fr);
        gap: 18px;
        display: grid;
        padding: 0 20px;
    }

    .category {
        width: 100%;
        height: 100%;
    }

    .category img {
        max-width: 300px;
        max-height: auto;   
        
    }

    .category h2,
    .category p {
        font-size: 14px;
        margin-left: 10px;
    }

    .category p {
        font-size: 13px;
    }
}

@media (max-width:968px) {
    .category_container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: -5%;
        gap: 15px;
    }

    .category {
        width: 90%;
        height: auto;
    }

    .category img {
        max-width: 350px;
        max-height: 180px;
        padding: 0 5px;
    }

    .category h2,
    .category p {
        margin-left: 10px;
        padding: 3px;
        font-size: 14px;
    }

    .category p {
        font-size: 13px;
    }
}
