
*{
    margin: 0;
    padding: 0;
}
.fixed{
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_container {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  /*gap: 15px; */
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.logo_container img {
  width: 80px;
  padding-top: 5px;
  margin-left: 20px;
  vertical-align: middle;
}
.logo_img {
  transform: scale(1.3); 
}
.delivery {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

.delivery p {
  font-size: 12px;
  color: #ccc;
  margin: 0;
}

.delivery span {
  font-size: 15px;
  /* padding-left: 10px; */
}
.search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 95%;

}
.search select, .search input{
    padding: 12px;
    font-weight: bold;
    outline: 1px solid white;
}
.search select {
  border: none;
  background-color: #ccc;
}

.search input {
  border: 1px solid white;
  width: 100%;
  margin-right:-2px;
}

.search svg {
  background-color: #febd69;
  padding: 8px;
  color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid rgb(235, 161, 173);
}
.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 450px;
}

.order_container a {
  text-decoration: none;
  color: white;
}

.order_container p {
  font-size: 12px;
}

/* .order_container a div span {
  font-size: 14px;
  font-weight: 700;
} */

.language {
  width: 100px;
  display: flex;
  padding: 10px;
}

.language img {
  width: 40%;
}

.language select {
  background-color: #1a1a1a;
  color: white;
  border: none;

}

.cart {
  position: relative;
  width: 50px;
}

.cart span {
  position: absolute;
  font-weight: bold;
  top: -8px;
  font-size: 20px;
  background-color:0 2px 0 0 #1a1a1a;
  left: 16px;
  color: orange;
}
.order_container a:hover,
.delivery_eth:hover,
.logo_img:hover,
.lower_container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
    box-sizing: border-box;
}
.lower_container{
  background-color: #232f3e;
  color: white;
  box-shadow: 0 3px 6px rgba(200, 200, 200, 0.4);
  height: 40px;
}
.lower_container ul{
  display: flex;
  list-style: none;
  gap: 8px;
  background:#232f3e ;
}
.lower_container ul li{
  padding: 8px;
}
.lower_container ul li:first-child{
  display: flex;
  gap: 5px;
  align-items: center;
}
.lower_container ul li .hide_icon{
  display: none;
  margin-left: auto;
  font-size: 18px;
}
.lower_container ul a{
  color: white;
  text-decoration: none;
}
@media screen and (max-width:720px){
  .lower_container .view{
    width: 80px;
  }
  .header_container{
    display: flex;
    flex-direction: column !important;
    height: auto;
    
  }
  .lower_container ul li:not(:first-child){
    display: none;
  }
  .language{
    display: none;
  }
  .cart span{
    background-color:#1a1a1a;
    border-radius: 10px;
    top: -1.2px;
    left: 19px;
  }
    .hide {
    display: none;
    cursor: pointer;
  }
  .lower_container ul.show {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .lower_container ul.show li:not(:first-child){
    display: flex;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 170px;
  }
  .lower_container ul.show li a {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .lower_container ul.show li a .hide_icon {
    display: inline-flex; 
  }
}